<h2>MTU Smsh Club</h2>
<div class="jumbotron">
	<p>The purpose of Smash Club is to promote the Smash Bros community, spread interest for the video game series, and provide an outlet and location for people interested in our activities.</p>
</div>
<h2>Tournaments</h2>
<div class="row">
	<div class="jumbotron col-md-12">
		<h2>Smashing Steel</h2>
		<p>Saturday October 21st at 10am</p>
		<p>1700 Townsend Drive Memorial Union Building</p>
		<a class="btn btn-info btn-lg" target="_blank" href="https://smash.gg/tournament/smashing-steel-powered-by-arcelormittal/register">Sign Up</a>
	</div>
	<div class="col-md-6">
		<div class="jumbotron">
			<h2>Super Smash Brothers Melee</h2>
			<p>{{days[melDate.getDay()]}} {{months[melDate.getMonth()]}} {{melDate.getDate()}} at 6pm</p>
			<p>1700 Townsend Drive M&amp;M U115</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="jumbotron">
			<h2>Super Smash Brothers For Wii U</h2>
			<p>{{days[wiiDate.getDay()]}} {{months[wiiDate.getMonth()]}} {{wiiDate.getDate()}} at 6pm</p>
			<p>1700 Townsend Drive M&amp;M U115</p>
		</div>
	</div>
</div>
