<h1>What Does Auto Tourny Do?</h1>
<p>Auto Tourny integrates with challonge to and displays who should play who and where.</p>
<h1>How Do I Use It?</h1>
<p>Simply sign up with your challonge information, start your tournament on challonge, select your tournament in the admin panel and input the number of setups you have available.</p>
<a class="btn btn-info" [routerLink]="['/admin/signup']">Sign Up</a>
<h1>Premium</h1>
<p>The premium service is $6/month and provides support for stream setups and on deck matches.</p>
