<h1>What Does Auto Tourny Do?</h1>
<p>Auto Tourny integrates with challonge and displays who should play who and where.</p>
<h1>How Do I Use It?</h1>
<p>Sign up with your challonge information, start your tournament on challonge, select your tournament here in the admin panel and input the number of setups and streams you have available.</p>
<p>Tournaments started in the admin panel will be available at your tournaments url, www.autotourny.com/tournaments/YOUR-USERNAME. From here you can report matches and select which matches are played on stream. If your participants visit this url they can view but not report matches. It is recomended to either publicly display your tournaments page on a big screen/projector or distribute your tournaments url to your participants</p>
<p>All clients are synced so changes made will be updated for everyone.</p>
<h1>Why Would I Use It?</h1>
<p>Having the matches displayed with setup numbers moves the tournament along faster. There is no confusion about who plays who and where. It also saves time on announcing matches, all the information is already available. Being able to report multiple tournaments from one screen also saves time. You don't have to navigate to a seperate url or keep multiple tabs open, It's all in one place.</p>
<p><a class="btn btn-info" [routerLink]="['/admin/signup']">Sign Up</a></p>