<h1>What Does Auto Tourny Do?</h1>
<p>Auto Tourny integrates with challonge and displays who should play who and where.</p>
<h1>How Do I Use It?</h1>
<p>Simply sign up with your challonge information, start your tournament on challonge, select your tournament here in the admin panel and input the number of setups and streams you have available. You can then view and report matches for multiple tournaments from your tournaments url. It is recomended to either give your participants your tournaments url or display it on a publicly viewable screen or projector at your event. This way your participants will know who they play against and where without having to actually announce the matches.<br><a class="btn btn-info" [routerLink]="['/admin/signup']">Sign Up</a></p>
