<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<h1>Your Tournaments</h1>
		<ul class="list-group">
			<div
				class="loader"
				*ngIf="!adminTournaments"></div>
			<div 
				*ngIf="adminTournaments && adminTournaments.length === 0"
				class="jumbotron">
				<h1>No Tournaments to Display</h1>
			</div>
			<li
				*ngFor="let tournament of adminTournaments"
				(click)="selectTournament(tournament)"
				[ngClass]="{'active': tournament == selectedTournament}"
				class="list-group-item">
				{{tournament.name}}
				<div *ngIf="tournament.started" class="pull-right"><em>started</em></div>
			</li>
		</ul>
		<admin-tournament-input
			*ngIf="selectedTournament != null"
			[tournament]="selectedTournament"
			[startHandler]="startTournament"
			[restartHandler]="restartTournament">
		</admin-tournament-input>
	</div>
</div>
