<h1><a [routerLink]="['/brackets', tournament.url]">{{ tournament.name }}</a></h1>
<div
	*ngIf="tournament.streamMatches.length > 0"
	class="row">
	<div 
		*ngFor="let match of tournament.streamMatches; let i = index" 
		class="col-md-3 col-lg-3 text-center">
		<div class="match">
			<h3>Stream {{ i + 1 }}</h3>
			<h5><strong>{{ match.player1.name }}</strong> vs <strong>{{ match.player2.name }}</strong></h5>
			<a *ngIf="isLoggedIn()" class="btn btn-danger" (click)="select(match)">Report</a>
			<a *ngIf="isLoggedIn()" class="btn btn-warning" (click)="unStream(match)">Remove</a>
		</div>
	</div>
</div>
<div
	*ngIf="tournament.liveMatches.length > 0"
	class="row">
	<div 
		*ngFor="let match of tournament.liveMatches; let i = index" 
		class="col-md-3 col-lg-3 text-center">
		<div class="match">
			<h3>Setup {{ i + 1 }}</h3>
			<h5><strong>{{ match.player1.name }}</strong> vs <strong>{{ match.player2.name }}</strong></h5>
			<a *ngIf="isLoggedIn()" class="btn btn-danger" (click)="select(match)">Report</a>
			<a *ngIf="isLoggedIn() && tournament.streamMatches.length < tournament.streams" class="btn btn-info" (click)="stream(match)">Stream</a>
		</div>
	</div>
</div>
<form
	[formGroup]="myForm"
	(ngSubmit)="onSubmit()"
	*ngIf="isLoggedIn() && match"
	class="col-md-12">
	<div class="form-group">
		<label for="player1">{{ match.player1.name }}</label>
		<input 
			type="number" 
			id="player1" 
			class="form-control"
			formControlName="player1">
	</div>
	<div class="form-group">
		<label for="player2">{{ match.player2.name }}</label>
		<input 
			type="number" 
			id="player2" 
			class="form-control"
			formControlName="player2">
	</div>
	<button 
		class="btn btn-primary" 
		type="submit"
		[disabled]="!myForm.valid">Submit</button>
</form>	
<div 
	*ngIf="tournament.matches.length > 0"
	class="row">
	<div 
		*ngFor="let match of tournament.matches; let i = index" 
		class="col-md-3 col-lg-3 text-center">
		<div class="match">
			<h3>On Deck</h3>
			<h5><strong>{{ match.player1.name }}</strong> vs <strong>{{ match.player2.name }}</strong></h5>
			<a *ngIf="isLoggedIn() && tournament.streamMatches.length < tournament.streams" class="btn btn-info" (click)="stream(match)">Stream</a>
		</div>
	</div>
</div>