.row { padding: 5px; }
.col-md-3 { padding: 2px; }
.match { background-color: #eee; border-radius: 20px; padding-bottom: 5px; }
.btn { margin-bottom: 5px; }
a { color: inherit; }
a:hover, a:visited, a:active, a:focus { text-decoration: none; }
h1 { margin: 15px 0 0 0; }
h3 { margin: 5px 0 0 0; }
.row { padding: 0; }
