<div class="row">
	<div class="col-md-12">
		<h1>{{ tournament.name }}</h1>
		<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="setups">Setups</label>
				<input 
					type="number" 
					id="setups" 
					class="form-control"
					formControlName="setups">
			</div>
			<div class="form-group">
				<label for="streams">Streams</label>
				<input 
					type="number" 
					id="streams" 
					class="form-control"
					formControlName="streams">
			</div>
			<button 
				class="btn btn-primary" 
				type="submit"
				[disabled]="!myForm.valid">Submit</button>
		</form>
	</div>
</div>
